@import url(//db.onlinewebfonts.com/c/b22afb9d7f41ae60d566a48f36cd4fde?family=Copperplate+Gothic+Bold);

p{
    font-weight: 300 !important;
}


.card{
    background-color: #00176d;
    color: white !important;
}

.reveal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00176d;
  }

  .reveal-text {
    color: white;
    font-size: 16px;
    position: absolute;
    width: 80%;
    font-weight: 200;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .committees .card:hover .reveal{
    opacity: 0.9;
  }

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 991px) {

.row .col .s2{
    width: 100%;
}

    .eb-card-subtitle{
        color: #00176d;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 200;   
    }
    
    
    .eb-card-title{
        color: #00176d;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 200;   
    }
    
    .eb .cards-title{
        z-index: 20;
        margin-bottom: 0px;
        text-align: center !important;
        font-size: 30px;
        padding-bottom: 30px;
        bottom: 30px;
        position: relative;
        font-weight: 200;
    }
    
    .eb .card-content{
        padding-top: 30px !important;
    }
    .eb h4{
        margin-top: 0;
    }
    .eb-box{
        margin: 0 auto;
        width: 300px;
        display: block;
    
    }
    .eb-logo{
        width: 100%;
    }
    .eb-text{
        font-weight: 200;
        font-size: 20px;
    
    }
    .eb-committees .card .card-image {
        position: relative;
        padding: 10px;
        padding-bottom: 0;
    }
    
    
    
    .eb-committees .card .card-content {
        padding: 10px;
        padding-top: 0;
    }
    .sidenav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 120vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 10 !important;
        display: none;
    }
    
.card-subtitle{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 10px !important;
    text-align: center;
}

.card-subtitle2{
    color: #fff;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 106px;
}


.card-subtitle3{
    color: #fff;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 80px;
}


.card-subtitle4{
    color: #fff;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 110px;
}


.card-subtitle5{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 106px;
}
.cards-title{
    z-index: 20;
    margin-bottom: 0px;
    text-align: center !important;
    font-size: 24px !important;
    padding-bottom: 30px;
    bottom: 75px;
    position: relative;
    font-weight: 200;
}

.gradient::after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 10;
    background: rgb(198,198,198);
    background: linear-gradient(180deg, rgba(198,198,198,0) 0%, rgba(0,23,109,1) 77%); 
}


.eb-gradient::after {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 10;
    background: rgb(198,198,198);
    background: linear-gradient(180deg, rgba(198,198,198,0) 0%, rgba(0,23,109,1) 77%); 
}

    .title{
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
    
    }
    .row .col.s6{
        width: 100%;
    }

    footer .row .col.s6{
        width: 50%;
    }
    .container2{
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
    }

    .container3{
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
    }
    .sub-title{
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: white;
    }
    
    .advisory-image{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }
    
    .advisory .body-content{
        padding: 0;
    }
    
    
    .sidenav{
        
    }
    

.banner {
    background-image: linear-gradient(to left top, #000c39, #001146, #001353, #001560, #00176d);
    position: relative;/*important*/
    z-index: 3;/*important*/
    min-height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}
       
.banner:after {
    background: url(../assets/patterns.png) center  no-repeat;
    content: "";
    background-size: 100%;
    position: absolute;/*important*/
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;/*important*/
} 






.card.horizontal .card-stacked{
    width: 100% !important;
}

.collab-logo{
    width: 100%;
    padding: 20px;
}
h2 {
    font-size: 2.56rem;
}

.row .col.s2 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.row .col.s3 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s4 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s5 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.about-club ul li{
    list-style-type: disc !important;
}

.body-content{
    text-align: justify !important;
}
nav ul {
    margin: 0;
    display: inline-block;
}
.header-logo{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
}
.banner-content{
    z-index: 10;
    position: relative;
}
.dates{
    width: 85%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.nav-color{
    background: white;
    
}

nav a {
    color: #00176d;
}

.slider .slides {
    background-color: none !important;
    margin: 0;
    height: 400px;
}

.footer-bg{
    background: #00176d;
}

.nav-center{
    text-align: center;
}

.sponsors{
    margin-top: 30px;
    margin-bottom: 30px;
}

.sponsor-heading{
    font-size: 30px;
    text-align: center !important;
}

.theme{
    font-family: "Copperplate Gothic Bold";
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
}

.lowercase{
    text-transform: lowercase !important;
}
.countdown-text{
    font-size: 1rem;
}
.countdown{
    height: auto;
    vertical-align: baseline;
    width: 90%;
    background-color: white;
    color: #00176d;
    margin: 30px auto 0 auto;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-transform: uppercase
}


.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(0, 76, 218, 0.5) ;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}


.carousel .indicators .indicator-item.active {
    background-color: rgb(0, 2, 143);
}


.collab-logos{
    width: 200px !important;
    margin: 20px auto !important;
    align-items: center !important;
}



.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px !important;
}


.dropdown-content {
    background-color: white;
    margin: 0;
    display: none;
    width: auto !important;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #00176d;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

h2{
    text-transform: uppercase;
    color: #00176d;
    font-weight: 300;
}

h4{
    text-transform: uppercase;
    color: #00176d;
    font-weight: 300;
}

h5{
    text-transform: uppercase;
    color: #042d4d;
    font-weight: 300;
}

.card.horizontal{
    background-color: #00176d;
    color: white;
}

.card.horizontal .card-image {
    max-width: 43% !important;
}

.logo-title{
font-size: 30px;
font-weight: 400;
}


.bg-blue{
    background-color: #00176d;
    color: white;
}

.drop-icon{
    margin-top: 4px;
}

.committees .card .card-content {
    padding-top: 0px;
    padding-bottom: 30px;
}

.mapouter {
    position: relative;
    text-align: right;
    
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    
}

.social-icon{
    width: 40px;
    height: 40px;
}

.footer-copyright{
    background-color: white !important;
    color: #00176d !important;
}


.rows {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }


 .row .col.s8 {
    width: 100%;
    margin-left: auto;
    padding: 30px;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .sg-image{
    width: 100%;
}
.card .card-content {
    background-color: #00176d;
    color: white;
}


}


.sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10 !important;
    display: none;
}








/* large desktops and up ———– */
@media screen and (min-width: 992px) {

    .eb-card-subtitle{
        color: #00176d;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 200;   
    }
    

    .eb-container{
        margin: 0 25%;
        max-width: 1280px;
        width: 100%;
    }
    
    .eb-card-title{
        color: #00176d;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 200;   
    }
    
    .eb .cards-title{
        z-index: 20;
        margin-bottom: 0px;
        text-align: center !important;
        font-size: 30px;
        padding-bottom: 30px;
        bottom: 30px;
        position: relative;
        font-weight: 200;
    }
    
    .eb .card-content{
        padding-top: 30px !important;
    }
    .eb h4{
        margin-top: 0;
    }
    .eb-box{
        margin: 0 auto;
        width: 300px;
        display: block;
    
    }
    .eb-logo{
        width: 100%;
    }
    .eb-text{
        font-weight: 200;
        font-size: 20px;
    }

    
    .eb-committees .card .card-image {
        position: relative;
        padding: 10px;
        padding-bottom: 0;
    }
    
    
    
    .eb-committees .card .card-content {
        padding: 10px;
        padding-top: 0;
    }
    .sidenav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        height: 120vh;
        background-color: rgba(0,0,0,0.5);
        z-index: 10 !important;
        display: none;
    }

    .title{
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        font-size: 2rem;
        padding: 10px;
    
    }
    .card-subtitle{
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 10px;
        font-size: 15px; 
        z-index: 20;
        bottom: 10px !important;
        text-align: center;
    }


    
.card-subtitle2{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 50px;
}


.card-subtitle3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 37px;
}


.card-subtitle4{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 70px;
}

.card-subtitle5{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 10px;
    font-size: 15px; 
    z-index: 20;
    bottom: 30px !important;
    left: 67px;
}

    .cards-title{
        z-index: 20;
        margin-bottom: 0px;
        text-align: center !important;
        font-size: 24px !important;
        padding-bottom: 30px;
        bottom: 75px;
        position: relative;
        font-weight: 200;
    }

    .gradient::after {
    
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: 10;
        background: rgb(198,198,198);
        background: linear-gradient(180deg, rgba(198,198,198,0) 0%, rgba(0,23,109,1) 77%);
        
    }


    .container2{
        margin: 0 auto;
        max-width: 1280px;
        width: 50%;
    }

    .container3{
        margin: 0 auto;
        max-width: 1280px;
        width: 80%;
    }
    .sub-title{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
    color: white;
    }
    
    .advisory-image{
        width: 100%;
        padding-top: 10px;
    }
    
    .advisory .body-content{
        padding: 10px;
        padding-top: 5px !important;
        margin-top: 0;
    }
    
    .advisory .card{
        background-color: #00176d;
        color: white;
    }
    

    .messages .body-content{
        padding: 10px;
        padding-top: 5px !important;
        margin-top: 0;
    }

    
.sg-content{
    padding: 20px;
}
.sg-image{
    width: 100%;
}

.collab-logo{
    width: 100%;
}

.about-club ul li{
    list-style-type: disc !important;
}

.body-content{
    text-align: justify !important;
}
nav ul {
    margin: 0;
    display: inline-block;
}
.header-logo{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
}
.banner-content{
    z-index: 10;
    position: relative;
}
.dates{
    width: 50%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.nav-color{
    background: #00176d;
    color: white;
}

.slider .slides {
    background-color: none !important;
    margin: 0;
    height: 400px;
}

.footer-bg{
    background: #00176d;
}

.nav-center{
    text-align: center;
}

.sponsors{
    margin-top: 30px;
    margin-bottom: 30px;
}

.sponsor-heading{
    font-size: 30px;
    text-align: center !important;
}

.theme{
    font-family: "Copperplate Gothic Bold";
    font-weight: 400;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
}

.lowercase{
    text-transform: lowercase !important;
}
.countdown-text{
    font-size: 1rem;
}
.countdown{
    height: 70px;
    vertical-align: baseline;
    width: 500px;
    background-color: white;
    color: #00176d;
    margin: 30px auto 0 auto;
    padding-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-transform: uppercase
}


.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(0, 76, 218, 0.5) ;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}


.carousel .indicators .indicator-item.active {
    background-color: rgb(0, 2, 143);
}


.collab-logos{
    width: 200px !important;
    margin: 20px auto !important;
    align-items: center !important;
}



.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px !important;
}


.dropdown-content {
    background-color: white;
    margin: 0;
    display: none;
    width: auto !important;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #00176d;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

h2{
    text-transform: uppercase;
    color: #00176d;
    font-weight: 300;
}

h4{
    text-transform: uppercase;
    color: #00176d;
    font-weight: 300;
}

h5{
    text-transform: uppercase;
    color: #042d4d;
    font-weight: 300;
}

.card.horizontal{
    background-color: #00176d;
    color: white;
}

.card.horizontal .card-image {
    max-width: 43% !important;
}

.logo-title{
font-size: 30px;
font-weight: 400;
}

.logo-subtitle{

}

.bg-blue{
    background-color: #00176d;
    color: white;
}

.drop-icon{
    margin-top: 4px;
}

.committees .card .card-content {
    padding-top: 0px;
    padding-bottom: 30px;
}

.mapouter {
    position: relative;
    text-align: right;
    
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    
}

.social-icon{
    width: 40px;
    height: 40px;
}

.footer-copyright{
    background-color: white !important;
    color: #00176d !important;
}


.rows {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    -ms-flex: 50%;
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
}